ul.pagination

	//-Display First / Previous Buttons
	if data.pagination.firstPage > 1
		li: a(href="#{url.path}1") &laquo;
	if data.pagination.page > 1
		li: a(href="#{url.path}#{data.pagination.prevPage}") &lsaquo;

	//- Display Page Links
	- for (var page = data.pagination.firstPage; page <= data.pagination.lastPage; page++) {
			if page == data.pagination.page 
				li.active: span #{page}
			else
				li: a(href="#{url.path}#{page}") #{page}
	- }

	//-Display Next / Last Buttons
	if data.pagination.page < data.pagination.totalPages
		li: a(href="#{url.path}#{data.pagination.nextPage}") &rsaquo;
	if data.pagination.lastPage < data.pagination.totalPages
		li: a(href="#{url.path}#{data.pagination.totalPages}") &raquo;