extend layout
block content
	.postList.mainSection
		//- Pagination Summary
		if data.pagination
			.pageSummary Displaying #{data.pagination.firstIndex} - #{data.pagination.lastIndex} of #{data.pagination.totalResults} results
		//- Article List
		if data.articles
			for row in data.articles
				.row
					for article in row
						.pageWrapper.article
							article.content
								h2
									a(href='/article/#{article.name}') #{article.heading}
									small #{article.publishDate.getDate()}/#{article.publishDate.getMonth()}/#{article.publishDate.getFullYear()} | 
										if url
											a(href="#{url.path}1#{url.query('author', article.author)}") #{article.author}
										else
											span #{article.author.name}
								p!=article.summary
								for tag in article.tags
									if url 
										a(href='#{url.path}1#{url.query("tag", tag.name)}').tag #{tag.name}
									else
										span #{tag.name}
								a(href='/article/#{article.name}').button Read more
		//- Pagination Links
		if data.pagination && url
			include ../partials/pagination