!!!5
html
	head
		if title && config.company
			title #{title} - #{config.company.site}
		link(rel='stylesheet', href='/styles.css')
	body
		header
			.container
				a(href="/").logo Beesden Web Development
				input(type='checkbox')#toggle.toggle
				label(for='toggle').toggleLabel &equiv;
				if data && data.nav
					nav.menu
						ul
							li: a(href="/blog") Posts
							for page in data.nav
								li: a(href="/#{page.name}") #{page.title}
		section
			.container
				block content				
				aside.aside
					if data && data.recent
						h2 Recent Posts
						ol
							for article in data.recent
								li
									a(href='/article/#{article.name}') #{article.heading}
									small #{article.publishDate.getDate()}/#{article.publishDate.getMonth()}/#{article.publishDate.getFullYear()} | 
										if article.author
											if url
												a(href="/blog/1#{url.query('author', article.author)}") #{article.author}
											else
												span #{article.author}
					if data && data.tags
						h2 Tags
						ul
							for tag in data.tags
								li
									if url
										a(href="/blog/1#{url.query('tag', tag)}").tag #{tag}
									else
										span.tag=tag				
		footer.footer
			.container
				.left (sociallinks)
				if config.company
					.right &copy; #{config.company.name}
						a(href="mailto:#{config.company.email}") #{config.company.email}
				.center Site built by 
					a(href="beesden@gmail.com" title="Web Design by Beesden") Beesden